@{
    ViewBag.Title = "About Robert Horrocks";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Robert is a really great guy who would make a great addition to your team to make your company great again.</p>
