@{
    ViewBag.Title = "Contact Robert";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Robert Horrocks<br />
    Lakewood, Ohio<br />
    <abbr title="Phone">P:</abbr>
    216.202.0410
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:horrocks.robert@gmail.com">horrocks.robert@gmail.com</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/roberthorrocks">https://www.linkedin.com/in/roberthorrocks</a>
</address>