@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Robert Horrocks.IO Codes</h1>
    <p class="lead">When you need quality code that moves your project down the path to completion, Robert Horrocks is here to help.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Portfolio</h2>
        <p>A sample of Robert's work, including web, application, database and logical development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Skills</h2>
        <p>Technical and soft skills merge to build code that makes user lives easier and application owners more profitable.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Customer interfacing and technical know-how</h2>
        <p>For years, Robert has worked with teams, gathered project specifications, got commitments and assured results.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>